.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-content: space-around;
    padding: 92px 51px 92px 51px;
}

.header__links-list{
    list-style: circle;
    display: flex;
    flex-direction: row;
    list-style-position: outside;
    gap: 13px;
    justify-content: flex-start;
    margin-top: 43px;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__link_active {
    text-decoration: none;
    margin-left: -18px;
}

.header__logo {
    display: block;
    justify-self: center;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    flex-direction: column;
    justify-self: end;
    align-self: center;
}